.friends{
    display: flex;
    border-bottom: 3px solid green;
}
.friends img{
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 5px;
}
.add-button{
    background-color: rgb(106, 90, 205);
    border-radius: 5px;
    height: 20px;
    width: 200px;
    cursor: pointer;
    margin-bottom: 5px;
}
.add-button:hover{
    background-color: rgba(106, 90, 205, 0.90);
}